.playlistsPage__divWrapper {
    width: fit-content;
    margin: 0 auto;
}
/* 
.playlistsButtons__divWrapper {
    position: sticky;
    bottom: 10px;
    display: flex;
    justify-content: center;
} */