@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@650&display=swap');

html,
body,
#root {
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.App {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.navbar {
  color: white;
  font-size: 1.3rem;
  transition: 0.3s ease-in-out;
  width: 100vw !important;
}


.navbar-brand {
  text-align: center;
}

a {
  color: white !important;
  text-decoration: none !important;
}


button {
  background-color: transparent;
  border: none;
  color: inherit;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  margin-bottom: 15px;
}


.card {
  border-radius: 4% !important;
  margin: 15px auto auto auto;
  border: none !important;
  background-color: transparent !important;
  justify-content: space-evenly;
}


.card-img-top {
  height: 15rem;
  width: 15rem;
  border-radius: 4% !important;
  opacity: 2;
  transition: transform .2s;
}

.card-img-top:hover {
  transform: scale(1.06);
  border: #6610f2 solid 5px;
}

footer {
  width: 100%;
}

td {
  vertical-align: middle !important;
}


.skeletonImage__divWrapper {
  animation: skeleton-loading 1s linear infinite alternate;
  aspect-ratio: 1 / 1;
  height: 100% !important;
}

.skeletonText {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 30px;
}

.timeRangeButtons__active {
  border-bottom: 3px solid #6610f2;
}

.table {
  border-color: transparent !important;
  color: white !important;
  margin: auto;
  border-spacing: 0;
}

table {
  border-collapse: separate !important;
}

thead {
  border-bottom: solid 3px rgba(255, 255, 255, 0.274) !important;
}

.icon__i {
  text-align: center;
  background-color: white;
  color: #6610F4;
  font-size: 25px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.fixed-bottom {
  bottom: 10px !important;
}

.conversionTrack__div {
  word-break: break-word;
  display: flex;
  border-radius: 9px;
  padding: 10px 15px;
  margin: 10px 0;
  cursor: pointer;
}


.conversionTrack__div:hover {
  border: #6610f2 solid 1px;
  padding: 9px 14px;
}

.conversionTrack__div>*:not(.conversionTrack__imgWrapper),
.conversionTable_divHeader>*:not(.conversionTrack__imgWrapper) {
  text-align: center;
  flex-basis: 40%;
  padding-top: 17px;
}

.purpleBackground {
  background-color: hsl(263, 90%, 51%);

}

.conversionTrack__imgWrapper {
  flex-basis: 20%;
}


.pageTitle__h1 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.skeletonConvertTrack {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 74px;
}


.conversionButton {
  background-color: #fff;
  color: #6610f2;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 900;
  padding: .5rem;
  width: 16rem;
}


.convertedButtons_div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.playlistsButtons__divWrapper {
  max-width: 540px;
  position: sticky;
  bottom: 10px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(263, 90%, 51%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media (min-width: 768px) {
  .icon__i {
    background-color: transparent;
    color: white;
  }
  .icon__i:hover {
    background-color: white;
    color: #6610F4;
    transform: scale(1.1);
    transition: transform .2s;
  }
  
  .playlistsButtons__divWrapper {
    justify-content: flex-end;
  }

  .table {
    max-width: 540px;
  }

  .videoPlayer {
    margin: 8% auto;
  }

}

@media (min-width:1859px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}