/* .backIcon__i {
    margin-left: 15px;
    position: fixed;
    bottom: 60px;
    z-index: 1030;
}

@media (min-width: 768px) {
    .backIcon__i {
        top: 100px;
    }
} */
.backIcon__divWrapper {    
    position: sticky;
    margin-left: 20px;
    top: 72px;
    z-index: 1030;
    height: 35px;
}

.backIcon__i {
    /* position: position;
    top: 66px;
    z-index: 1030; */
}