.login__button {
    font-weight: 900;
    font-size: 1.2rem;
    background-color: #6610f2;
    padding: 0.5rem;
    width: 16rem;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login__button:hover {
    border: white solid 3px;
    padding: 5px;
  }